lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
coverage
lib-cov

npm-debug.log
node_modules
bower_components
.grunt
.lock-wscript
.tmp/
.bowerrc
.idea/*
*.iml
*.sublime-*
projectFilesBackup

.DS_Store
